{% extends "learning_logs/base.html"%}

{% block page_header %}
<div class = "jumbotron">
	<h1 class="display-3">Track your learning.</h1>

	<p class="lead">Learning Logs helps you keep track of your knowledge acquired from your studies and experience in various topics. Whenever you learn something new, you can make an entry summarizing your learnings.
	</p>

	<p class="lead"> New Here? </p>

	<div class="pb-2" style = "color: darkslategray;"> 
	<ol>
		<li> Register to create your account </li>
		<li> In the Topics tab, create a new Topic. You should name it something you're learning about, like 'Python'.</li>
		<li> Then, click into your Topic to add Entries. You should enter info relevant to the topic, like a Python syntax cheatsheet. </li>
		<li> That's it! You're now logging your learning with Learning Log. Thanks for visiting! </li>
	</ol>
	</div>
	<a class="btn btn-lg btn-primary" href ="{% url 'users:register' %}" role="button">
		Register &raquo;</a>
</div>

{% endblock page_header %}
