{% extends "learning_logs/base.html" %}

{% block page_header %}
  <div class="container">
    <h5>Hi! I'm Clarence. I'm a hobbyist developer, and this is Learning Logs, one of my first programming projects I've completed. My info on this project is as follows: </h5>
    <br>
    <ul>
    	<li>This project was completed as a final project from the book "Python Crash Course"</li>
    	<li>This is built using Python, working with the Django framework. I've styled the app with Bootstrap, and as you can probably tell, I've deployed with Heroku. </li>
    	<li>You can check out my Github here: https://github.com/clarencelam</li>
    </ul>
   <p>Thank you for checking this project out. More to come soon at github.com/clarencelam !</p>
  </div>
{% endblock page_header %}